a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#button_433edc8a { vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:150px; height:40px; background-color:#5C5C5C;  }
#button_433edc8a:hover { background-color:#27AE60;  }
#button_433edc8a:hover span { color:#CDCDCD; }
#button_8294f55 { vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:150px; height:40px; background-color:#008957;  }
#button_8294f55:hover { background-color:#27AE60;  }
#button_8294f55:hover span { color:#CDCDCD; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_83d87bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background-color:#FFFFFF; background-position:top left; background-size:cover;  }
#container_60320bed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#5C5C5C;  }
#container_60320bed_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_1383d4b1 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_1383d4b1_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle4 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle5 { font-size:32pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E;  }
#img_6199f115 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle6 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle7 { font-size:32pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle8 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle9 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
#container_7834793e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:238px; background:none;  }
#container_7834793e_padding { margin: 10px; display: block;  }
#container_75690335 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#FFFFFF;  }
#container_75690335_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_37f1edb3 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#FFFFFF;  }
#container_37f1edb3_padding { margin: 10px; display: block;  }
#container_58465b21 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#FFFFFF;  }
#container_58465b21_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle14 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EBE9EB;  }
#container_749be54d_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle16 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_f7f118f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_f7f118f_padding { margin: 10px; display: block;  }
#container_3205b59a { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#FFFFFF;  }
#container_3205b59a_padding { margin: 10px; display: block;  }
#container_75018b1a { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#FFFFFF;  }
#container_75018b1a_padding { margin: 10px; display: block;  }
#container_14de6854 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#FFFFFF;  }
#container_14de6854_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
#container_459f1faa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_459f1faa_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#text_70e60e76 { position:absolute; left:30%; top:11%; width:523px; height:44px; background-color:#5C5C5C;  }
.textstyle19 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 640px)
{
		#container_1383d4b1 * span { font-size:15pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_75690335 { width:100%;  }
		#container_37f1edb3 { width:100%;  }
		#container_58465b21 { width:100%;  }
		#container_3205b59a { width:100%;  }
		#container_75018b1a { width:100%;  }
		#container_14de6854 { width:100%;  }
}
